body{
	background-color: #c0d9d9;
}

.container{
	width: auto;
	border-radius: 10px;
}
.navbar{
	border-radius: 10px;
	position: sticky;
	top: 0;

}
#bara{
	position: sticky;
	top: 0;
}

